﻿@page "/phonebook/entries/{phoneBookId:int}"

@using Absa.Assement.UI.Services
@using Absa.Assement.UI.ViewModels

@inject IPhoneBookService<Entry> entryService
@inject IPhoneBookService<PhoneBook> phoneBookService


<div class="col-12">
  <h4><b>Add Entry For @PhoneBook.Name  </b></h4>
  <hr />


  <EditForm Model="@Entry" OnValidSubmit="@SaveEntry">
    <div class="col-12 row">
      <input class="form-control col-3" @bind="Entry.Name" placeholder="Phonebook Entry" required />
      <span class="col-2"></span>
      <input class="form-control col-3" @bind="Entry.PhoneNumber" placeholder="Phone Number" required />
      <span class="col-2"></span>
      <input type="submit" class="form-control col-1 btn btn-primary" value="Save" />
    </div>
    <div class="col-12 row">

    </div>
  </EditForm>
</div>
<br />
<div class="col-12">
  <SpinLoader IsLoading="isLoading">
    <LoadingTemplate>
      <div class="col-12" style="background-color: lightgray; height:400px; vertical-align:middle">
        <br /><br />
        <Chase Center="true" Color="#c21f13" Size="70px"></Chase>
      </div>
    </LoadingTemplate>
    <ContentTemplate>
      @if (FilteredList != null)
      {
        <GridView Items="FilteredList " ReloadList="isGridViewFiltered">
          <GridColumns>
            <GridColumn ColumnTitle="Id"
                        OnSearchTextChanged="@(e => OnEntrySearchTextChanged(e, "Id"))"></GridColumn>
            <GridColumn ColumnTitle="Name"
                        OnSearchTextChanged="@(e => OnEntrySearchTextChanged(e, "Name"))"></GridColumn>
            <GridColumn ColumnTitle="Phone Number"
                        OnSearchTextChanged="@(e => OnEntrySearchTextChanged(e, "PhoneNumber"))"></GridColumn>



          </GridColumns>
          <GridRow Context="Entry">

            <td>@Entry.Id</td>
            <td>@Entry.Name </td>
            <td>
              @Entry.PhoneNumber
            </td>
          </GridRow>
        </GridView>
      }
    </ContentTemplate>
  </SpinLoader>
</div>
@code {

    [Parameter]
    public int phoneBookId { get; set; }

    public PhoneBook PhoneBook { get; set; }
    public Entry Entry { get; set; }
    public List<Entry> EntryList { get; set; }
    bool isLoading = true;
    public bool isGridViewFiltered { get; set; }
    public List<Entry> FilteredList { get; set; }

    protected async override Task OnInitializedAsync()
    {
      PhoneBook = new PhoneBook();
      Entry = new Entry();
      Entry.PhoneBookId = phoneBookId;
      EntryList = new List<Entry>();

      await base.OnInitializedAsync();
    }

    protected override void OnInitialized()
    {
      base.OnInitialized();
    }

    private async Task GetPhoneBookEntries()
    {

      EntryList = FilteredList = await entryService.GetAllByIdAsync("api/Entry/GetEntriesByPhonebookId", phoneBookId);

      StateHasChanged();
    }

    private async Task GetCurrentPhoneBook()
    {
      PhoneBook = await phoneBookService.GetByIdAsync("api/PhoneBook/GetPhoneBook", phoneBookId);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

      if (firstRender)
      {
        await GetPhoneBookEntries();
        await GetCurrentPhoneBook();

        isLoading = false;
        StateHasChanged();
      }

      await base.OnAfterRenderAsync(firstRender);
    }

    private void OnEntrySearchTextChanged(ChangeEventArgs changeEventArgs, string columnTitle)
    {
      string searchText = changeEventArgs.Value.ToString();
      isGridViewFiltered = true;

      switch (columnTitle)
      {
        case "Id":
          FilteredList = EntryList.Where(x => x.Id.ToString().Contains(searchText)).ToList();
          break;
        case "Name":
          FilteredList = EntryList.Where(x => x.Name.ToLower().Contains(searchText)).ToList();
          break;
        case "PhoneNumber":
          FilteredList = EntryList.Where(x => x.PhoneNumber.ToLower().Contains(searchText)).ToList();
          break;
        default:
          Console.WriteLine("Default case");
          break;
      }
    }


    private async Task SaveEntry()
    {
      await entryService.SaveAsync("api/Entry/CreateEntry", Entry);
      await GetPhoneBookEntries();

    }

    protected override bool ShouldRender()
    {
      base.ShouldRender();

      return true;
    }
}
