﻿@page "/phonebooks"

@using Absa.Assement.UI.Services
@using Absa.Assement.UI.ViewModels

@inject IPhoneBookService<PhoneBook> phoneBookService

<div class="col-12">
  <h3><b>Enter PhoneBook Name </b></h3>
  <hr />

  <EditForm Model="@PhoneBook" OnValidSubmit="@SavePhoneBook">
    <div class="col-12 row">
      <input class="form-control col-3"  @bind="PhoneBook.Name" placeholder="Phonebook Name Here" required />
      <span class="col-2"></span>
      <input type="submit" class="form-control col-1 btn btn-primary" value="Save" />
    </div>
    <div class="col-12 row">
 
    </div>
  </EditForm>
</div>
<br />

<div class="col-12">
  <SpinLoader IsLoading="isLoading">
    <LoadingTemplate>
      <div class="col-12" style="background-color: lightgray; height:400px; vertical-align:middle">
        <br /><br />
        <Chase Center="true" Color="#c21f13" Size="70px"></Chase>
      </div>
    </LoadingTemplate>
    <ContentTemplate>
      @if (FilteredList != null)
      {
        <GridView Items="FilteredList " ReloadList="isGridViewFiltered">
          <GridColumns>
            <GridColumn ColumnTitle="Id"
                        OnSearchTextChanged="@(e => OnPhoneBookSearchTextChanged(e, "Id"))"></GridColumn>
            <GridColumn ColumnTitle="Phonebook Name"
                        OnSearchTextChanged="@(e => OnPhoneBookSearchTextChanged(e, "Name"))"></GridColumn>
            
                <GridColumn ColumnTitle="Actions"></GridColumn>
            
          </GridColumns>
          <GridRow Context="PhoneBook">

            <td>@PhoneBook.Id</td>
            <td>@PhoneBook.Name </td>
            <td>
              <NavLink href=@string.Format("/phonebook/entries/{0}", @PhoneBook.Id)>
               Select
              </NavLink>
            </td>
          </GridRow>
        </GridView>
      }
    </ContentTemplate>
  </SpinLoader>
</div>

@code {
    public PhoneBook PhoneBook { get; set; }

    public List<PhoneBook> PhoneBookList { get; set; }
    bool isLoading = true;
    public List<PhoneBook> FilteredList { get; set; }
    public bool isGridViewFiltered { get; set; }

    protected override void OnInitialized()
    {
      base.OnInitialized();
    }

    protected override async Task OnInitializedAsync()
    {

      PhoneBook = new PhoneBook();
      PhoneBookList = new List<PhoneBook>();

      await base.OnInitializedAsync();
    }

    protected override bool ShouldRender()
    {
      base.ShouldRender();

      return true;
    }

    protected override void OnAfterRender(bool firstRender)
    {
      base.OnAfterRender(firstRender);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

      if (firstRender)
      {
        await GetPhoneBooks();

        isLoading = false;
        StateHasChanged();
      }

      await base.OnAfterRenderAsync(firstRender);
    }

    private async Task GetPhoneBooks()
    {

      PhoneBookList = FilteredList = await phoneBookService.GetAllAsync("api/PhoneBook");

      StateHasChanged();
    }

    private async Task SavePhoneBook()
    {
      await phoneBookService.SaveAsync("api/PhoneBook/CreatePhoneBook", PhoneBook);
      await GetPhoneBooks();

    }


    private void OnPhoneBookSearchTextChanged(ChangeEventArgs changeEventArgs, string columnTitle)
    {
      string searchText = changeEventArgs.Value.ToString();
      isGridViewFiltered = true;

      switch (columnTitle)
      {
        case "Id":
          FilteredList = PhoneBookList.Where(x => x.Id.ToString().Contains(searchText)).ToList();
          break;
        case "Name":
          FilteredList = PhoneBookList.Where(x => x.Name.ToLower().Contains(searchText)).ToList();
          break;
        default:
          Console.WriteLine("Default case");
          break;
      }
    }
}
